# ========================
# Node / Backend
# ========================
node_modules/
npm-debug.log
yarn-error.log
.env
dist/
build/

# ========================
# React / Frontend
# ========================
client/node_modules/
client/build/
client/.env

# ========================
# Logs
# ========================
*.log

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db
